body {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

#container{
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        width: 360px;
        height: 420px;
        margin: auto;
        box-shadow: 0px 0px 20px black;
        padding: 20px;
        box-sizing: border-box;
        background-color: #002f5c;   
        border-radius:15px;             
}

label{
    color:white;
}